body {
    background: linear-gradient(to right, #000000, #25000e);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.all-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 2px #f0eefc;
    font-size: 2em;
    text-align: center;
    letter-spacing: .7em;
}